.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  /* margin-bottom: -1px; */
  /* height: 100vh;
  position: relative; */
}

/* .wave1 {
  position: absolute;
  left: 0;
  bottom: 0;
} */

.jumbotron img {
  width: 200px;
}

.social-media li {
  display: inline-block;
  font-size: 2rem;
  margin: auto .5rem;
  border-radius: 50%;
}

.social-media li a {
  color: #212529;
}

.social-media li a:hover {
  color: rgb(57, 46, 219);
}

section {
  margin-top: -1px;
  padding-top: 5rem;
}

.about .content {
  text-align: justify;
}

.projects {
  background-color: #e2edff;
}

.projects .card.project-tile .card-body {
  height: 250px;
  position: relative;
}

.card-body a {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #acacac;
  font-weight: 500;
}

footer {
  margin-top: -2px;
}

footer p {
  margin-bottom: 0;
}

footer a:hover {
  opacity: .8;
}

/* Add for Custom Animation fadeout alert:(((( */
/* karena kalo pake bawaan bootstrap, gabisa muncul lagi */
.alert.alert-dismissible {
  opacity: 1;
  transition: .5s all;
}

.alert.alert-dismissible.fade {
  opacity: 0;
}

/* End of Custom Animation */

@media only screen and (max-width: 768px) {
  .about .content {
    text-align: center;
  }
}